<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../Home/Index" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> 管理平台</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../Products/Index"><span class="glyphicon glyphicon-briefcase"></span>  商品管理</a>
                    </li>

                    <li>
                        <a href="../Orders/Index"><span class="glyphicon glyphicon-shopping-cart"></span>  订单处理</a>
                    </li>
                    <li>
                        <a href="../Users/Index"><span class="glyphicon glyphicon-user"></span> 基础数据管理</a>
                    </li>

                    <li>
                        <a href="../Projects/Index"><span class="glyphicon glyphicon-list-alt"></span> 日常统计</a>
                    </li>

                    <li>
                        <a href="../Help/Index"><span class="glyphicon glyphicon-flag"></span> APIs</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="#"><span class=" glyphicon glyphicon-user"></span>  @Session["account"]</a>
                    </li>
                    <li>
                        <a href="../Home/LogOut"><span class=" glyphicon glyphicon-off"></span>  退出</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - O2O</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
