<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/leftmenu.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Index" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> 管理平台</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="~/ProductsStores/Index"><span class="glyphicon glyphicon-briefcase"></span>  商品信息</a>
                    </li>
                    <li>
                        <a href="~/Orders/Index"><span class="glyphicon glyphicon-shopping-cart"></span>  订单处理</a>
                    </li>
                    <li>
                        <a href="~/Users/Index"><span class="glyphicon glyphicon-user"></span> 基础数据</a>
                    </li>
                    <li>
                        <a href="~/Help/Index"><span class="glyphicon glyphicon-flag"></span> APIs</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="#"><span class=" glyphicon glyphicon-user"></span>  @Session["account"]</a>
                    </li>
                    <li>
                        <a href="~/Home/LogOut"><span class=" glyphicon glyphicon-off"></span>  退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:10px;">
        <div class="row">
            <div class="col-md-2 navbar-left">
                <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                    <li>
                        <a href="~/Home/Index">
                            <i class="glyphicon glyphicon-th-large"></i>
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="#goods" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-cog"></i>
                            商品信息
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="goods" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="~/ProductsStores/Index">商品库存信息</a></li>
                            <li><a href="~/Products/Index">商品基础信息</a></li>
                            <li><a href="~/InRecords/Index">进货管理</a></li>
                            <li><a href="~/BreakRecords/Index">货损管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-cog"></i>
                            系统管理
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="~/Users/Index">系统用户管理</a></li>
                            <li><a href="~/Accounts/Index">注册用户管理</a></li>
                            <li><a href="~/DeliveryMen/Index">配送员管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#order" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-cog"></i>
                            订单管理
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="order" class="nav nav-list collapse secondmenu">
                            <li><a href="~/Orders/Index">订单管理</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="col-md-10">
                @*<iframe style=" width:100%; height:100%;" name=main frameborder=0 src="~/Home/Index">

                </iframe>*@
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>

</html>
